{% extends "base.html.twig" %}
{% block title %}
    Employee Form
{% endblock %}
{% block stylesheets %}
    {#TODO: webpack#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block body %}
    {% if not employee %}
        <h1>No employee</h1>
    {% else %}
    <h1>Employee Detail</h1>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-6">Employee Name:</div><div class="col-6">{{ employee.name }}</div>
                <div class="col-6">Employee Email:</div><div class="col-6">{{ employee.email }}</div>
                <div class="col-6">Employee Job:</div><div class="col-6">{{ employee.job }}</div>
                <div class="col-6">Employee BirthDate:</div><div class="col-6">{{ employee.birthDate|date('d/m/Y') }}</div>
                <div class="col-6">Employee Domicile:</div><div class="col-6">{{ employee.domicile }}</div>
                <div class="col-6">Employee Skills:</div><div class="col-6">{{ employee.skills[0]['skillName'] }} - {{ employee.skills[0]['skillLevel'] }}</div>
            </div>
        </div>
    </div>
    {% endif %}
    <a href="{{path('employeeList')}}" class="btn btn-primary">{{ 'message.return'|trans }}</a>
{% endblock %}


